<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="text-center text-dark">Sign Up</h2>
  <hr />

  <app-text-input
    [control]="registerForm.controls['username']"
    label="Username"
  ></app-text-input>

  <app-text-input
    [control]="registerForm.controls['password']"
    type="password"
    label="Password"
  ></app-text-input>

  <app-text-input
    [control]="registerForm.controls['confirmPassword']"
    type="password"
    label="Confirm Password"
  ></app-text-input>

  <div class="form-group text-center">
    <button class="btn btn-success me-2" type="submit">Register</button>
    <button class="btn btn-light me-2" type="button" (click)="cancel()">
      Cancel
    </button>
  </div>
</form>
