<nav
  class="navbar fixed-top navbar-dark bg-dark navbar-expand-lg"
  style="background-color: #0061c4 !important"
>
  <div class="container">
    <a class="navbar-brand" routerLink="/">NectR</a>
    <div class="navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @if(authService.loggedInUser()) {
        <li class="nav-item">
          <a
            routerLink="/members"
            class="nav-link"
            routerLinkActive="active"
            href="#"
            >Matches</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/lists"
            class="nav-link"
            routerLinkActive="active"
            href="#"
            >Lists</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/messages"
            class="nav-link"
            routerLinkActive="active"
            href="#"
            >Messages</a
          >
        </li>
        }
      </ul>

      @if(authService.loggedInUser()) {

      <div dropdown class="dropdown">
        <img
          class="profile-pic"
          src="{{
            authService.loggedInUser()?.photoUrl || './assets/user.png'
          }}"
          alt="user profile pic"
        />
        <a
          dropdownToggle
          class="dropdown-toggle text-light text-decoration-none"
          >Welcome {{ authService.loggedInUser()?.userName }}</a
        >
        <div *dropdownMenu class="dropdown-menu">
          <a routerLink="/member/edit" class="dropdown-item">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>
      } @if(!authService.loggedInUser()){
      <form
        #loginNgForm="ngForm"
        (ngSubmit)="login()"
        class="d-flex ms-auto"
        autocomplete="off"
      >
        <input
          name="username"
          [(ngModel)]="loginForm.username"
          class="form-control me-2"
          type="text"
          placeholder="User Name"
        />
        <input
          name="password"
          [(ngModel)]="loginForm.password"
          class="form-control me-4"
          type="password"
          placeholder="Password"
        />
        <button type="submit" class="btn btn-success">Login</button>
      </form>
      }
    </div>
  </div>
</nav>
