<div class="row">
  <div class="container mt-3">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
      <div class="d-flex mx-2">
        <div class="col-form-label">Age from:</div>
        <input
          type="number"
          class="form-control ms-1"
          style="width: 70px"
          name="minAge"
          [(ngModel)]="memberService.userParams().minAge"
        />
      </div>
      <div class="d-flex mx-2">
        <label class="col-form-label">Age to:</label>
        <input
          type="number"
          class="form-control ms-1"
          style="width: 70px"
          name="maxAge"
          [(ngModel)]="memberService.userParams().maxAge"
        />
      </div>
      <div class="d-flex mx-2">
        <label class="col-form-label">Show: </label>
        <select
          name="gender"
          style="width: 130px"
          class="form-select ms-1"
          [(ngModel)]="memberService.userParams().gender"
        >
          @for(gender of genderList; track gender.value) {
          <option [value]="gender.value">{{ gender.displayName }}</option>
          }
        </select>
      </div>

      <button class="btn btn-dark mx-2" type="submit">Apply Filters</button>
      <button
        class="btn btn-light"
        style="margin-left: 8px"
        type="button"
        (click)="resetFilters()"
      >
        Reset Filters
      </button>

      <div class="col">
        <div class="btn-group float-end" style="display: flex; gap: 4px">
          <button
            type="button"
            class="btn"
            name="orderBy"
            (click)="loadMembers()"
            btnRadio="lastActive"
            [(ngModel)]="memberService.userParams().orderBy"
            [ngClass]="{
              'btn-dark': memberService.userParams().orderBy === 'lastActive',
              'btn-light': memberService.userParams().orderBy !== 'lastActive'
            }"
          >
            Last Active
          </button>
          <button
            type="button"
            class="btn"
            name="orderBy"
            (click)="loadMembers()"
            btnRadio="created"
            [(ngModel)]="memberService.userParams().orderBy"
            [ngClass]="{
              'btn-dark': memberService.userParams().orderBy === 'created',
              'btn-light': memberService.userParams().orderBy !== 'created'
            }"
          >
            Newest Members
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="row pt-4">
  @for (member of memberService.members()?.items; track member.id) {
  <div class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
  }
</div>

@if(memberService.members()?.pagination) {
<div class="d-flex justify-content-center">
  <pagination
    [totalItems]="memberService.members()?.pagination?.totalCount!"
    [itemsPerPage]="memberService.members()?.pagination?.pageSize!"
    [(ngModel)]="(memberService.members()?.pagination)!.pageNumber"
    (pageChanged)="onPageChange($event)"
  ></pagination>
</div>
}
