<div class="row">
  <div class="container mt-3">
    <form #form="ngForm" class="d-flex mb-3" (ngSubmit)="loadMembers()">
      <div class="d-flex mx-2">
        <div class="col-form-label">Age from:</div>
        <input
          type="number"
          class="form-control ms-1"
          style="width: 70px"
          name="minAge"
          [(ngModel)]="userParams.minAge"
        />
      </div>
      <div class="d-flex mx-2">
        <label class="col-form-label">Age to:</label>
        <input
          type="number"
          class="form-control ms-1"
          style="width: 70px"
          name="maxAge"
          [(ngModel)]="userParams.maxAge"
        />
      </div>
      <div class="d-flex mx-2">
        <label class="col-form-label">Show: </label>
        <select
          name="gender"
          style="width: 130px"
          class="form-select ms-1"
          [(ngModel)]="userParams.gender"
        >
          @for(gender of genderList; track gender.value) {
          <option [value]="gender.value">{{ gender.displayName }}</option>
          }
        </select>
      </div>

      <button class="btn btn-dark mx-2" type="submit">Apply Filters</button>
      <button
        class="btn btn-light"
        style="margin-left: 8px"
        type="button"
        (click)="resetFilters()"
      >
        Reset Filters
      </button>
    </form>
  </div>
</div>

<div class="row pt-4">
  @for (member of memberService.members()?.items; track member.id) {
  <div class="col-2">
    <app-member-card [member]="member"></app-member-card>
  </div>
  }
</div>

@if(memberService.members()?.pagination) {
<div class="d-flex justify-content-center">
  <pagination
    [totalItems]="memberService.members()?.pagination?.totalCount!"
    [itemsPerPage]="memberService.members()?.pagination?.pageSize!"
    (pageChanged)="onPageChange($event)"
  ></pagination>
</div>
}
