.tab-panel {
  border: 1px solid #ddd; /* 1px border on top, left, and right */
  padding: 10px;
  border-radius: 4px;
}

.member-tabset > .nav-tabs > li.open > a,
.member-tabset > .nav-tabs > li:hover > a {
  /* border: 0;1 */
  background: none !important;
  color: #375a7f;
}

.member-tabset > .nav-tabs > li.open > a > i,
.member-tabset > .nav-tabs > li:hover > a > i {
  color: #375a7f; /* Dark blue */
}

.member-tabset > .nav-tabs > li.open .dropdown-menu,
.member-tabset > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}

.member-tabset > .nav-tabs > li.active {
  border-bottom: 4px solid #dba839;
  position: relative;
}

.member-tabset > .nav-tabs > li > a {
  border: 0 !important;
  color: #000;
}

.member-tabset > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #000000;
}

.member-tabset > .nav-tabs > li.active > a > i {
  color: #000000;
}

.member-tabset > .tab-content {
  margin-top: -3px;
  background-color: inherit;
  border: 0;
  padding: 15px 0;
}
